html {
  box-sizing: border-box;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {

  font-family: Geometrica;
  font-size: 18px;
  line-height: 22px;
  color: black;
  background-color: $c-bg-main;
}

svg {
  fill: black;
}
