.offers {
  &__items {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media (min-width: 567px) {
      margin: 40px -9px 0 -9px;
    }
  }

  &__button-more {
    margin: 15px 0 0;
    display: flex;
    justify-content: center;
  }
}
