.brand {
  cursor: pointer;
  width: 100%;
  padding: 20px;
  margin: 0 10px 16px;
  border-radius: 8px;
  background-color: white;

  @media (min-width: 367px) {
    width: calc((100% / 2) - 18px);
    margin: 0 9px 16px;
  }

  @media (min-width: 567px) {
    width: calc((100% / 3) - 18px);
    margin: 0 9px 16px;
  }

  @media (min-width: 767px) {
    width: calc((100% / 4) - 18px);
    margin: 0 9px 16px;
  }

  @media (min-width: 1024px) {
    width: calc((100% / 5) - 18px);
    margin: 0 9px 16px;
  }

  &:hover {
    animation-name: example;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  @keyframes examp {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  &:hover &__percent,
  &:hover &__title {
    transition: 0.5s;
    color: #00d36d;
  }

  &:not(:hover) {
    animation-name: exampl;
    animation-duration: 0.5s;
  }

  @keyframes exampl {
    0% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes example {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.05);
    }
  }

  &__percent {
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
  }

  &__description {
    margin-top: 4px;
    margin-bottom: 27px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    opacity: 0.4;
  }

  &__poster {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 100%;
    max-width: 120px;
  }

  &__title {
    text-align: center;
    margin: 40px 0 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    opacity: 0.5;
  }
}
