@import "/src/styles/variables/colors.scss";

.navbar {
  background-color: white;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: block;
    height: 100%;
  }

  &__links {
    padding: 16px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }

  &__links li {
    margin-right: 20px;
  }

  &__links a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 18px;
    line-height:  42px;
    opacity: 0.5;
  }
}
