@import "/src/styles/variables/colors.scss";

.navbar {
  background-color: white;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: block;
    height: 100%;
  }

  &__links {
    display: none;

    @media (min-width: 1024px) {
      padding: 16px 35px;
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
    }
  }

  &__links li {
    margin-right: 20px;
  }

  &__links a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 18px;
    line-height: 42px;
    opacity: 0.5;
  }

  .active {
    opacity: 1;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.3);
  }
}
