$c-bg-main: #e5e5e5;
$c-bg-primary: white;
$c-bg-secondary: #192144;
$c-bg-4: #edeff6;
$c-bg-5: #f97676;
$c-bg-6: #f2f2f2;
$c-bg-7: #182044;
$c-bg-8: #e2e5f2;
$c-bg-9: #d6daed;

$c-font-2: #161c35;
$c-font-3: #444444;
$c-font-4: #cccccc;
$c-font-5: #1d2e5b;
$c-font-6: #e1e3e9;
$c-font-7: #132576;
