.footer {
  margin-top: 112px;
  background-color: white;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
  }

  &__primary-title {
    text-align: start;
  }

  &__primary-img {
    display: block;
    margin-top: 55px;
  }

  &__primary-description {
    margin-top: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }

  &__primary-description:last-child {
    margin-top: 30px;
  }

  &__main {
    margin-left: 130px;
  }

  &__nav a {
    opacity: 2;
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }

  &__links li {
    margin-right: 20px;
  }

  &__links a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 18px;
    line-height: 42px;
  }

  &__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    opacity: 0.5;
  }

  .active {
    opacity: 1;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.3);
  }
}
