.brands {
  &__filter {
    margin: 0 -10px 25px -10px;
  }

  &__item {
    margin: 60px -10px 0 -10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
  }

  &__button-switch {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link-switch-use,
  &__link-switch-save {
    max-width: 120px;
    margin: 0 12px;
    text-align: center;
    transition: 0.8s;
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    &--active {
      transition: 0.8s;
      color: #00d36d;
    }
  }

  &__button-more {
    margin-top: 15px;
    display: flex;
    justify-content: center;
  }
}
